<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<h2>Sign in here!</h2>

<%= form_tag '' do %>
  <div>
    <%= label_tag 'email' %><br>
    <%= email_field_tag 'email' %>
  </div>
  <div>
    <%= label_tag 'password' %><br>
    <%= password_field_tag 'password' %>
  </div>
  <%= submit_tag 'Sign in' %>
<% end %>
