<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<h2>Create your account here!</h2>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit 'Create My Account Already!' %>
<% end %>
