<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Dashboard", dashboard_path %></li>
    </ul>
    <ul class='user'>
      <li><%= link_to 'Register (new user)', '' %></li>
      <li><%= link_to 'Sign In (create session)', '' %></li>
      <li>Welcome <%= "USER NAME HERE" %>!</li>
      <li><%= link_to 'Sign Out (destroy session)', '' %></li>
    </ul>
  </nav>
  <%= yield %>

</body>
</html>
